<div class="image-actions">
  <h1 class="title">{{'gallery' | translate}}</h1>
  <button mat-raised-button color="primary" class="edit" (click)="openFileChangeEventPopup(null)">{{'add' | translate}}
    <mat-icon style="margin-left: 8px;"> note_add</mat-icon>
  </button>
</div>

<div class="separation"></div>
<div class="image-container" *ngFor="let item of data">
  <button mat-mini-fab color="warn" class="delete" [swal]="state.swalConfig()" (confirm)="deleteImage(item.id)">
    <mat-icon>delete</mat-icon>
  </button>
  <img #img class="image" [src]="sanitizer.bypassSecurityTrustUrl(item.link)" alt=""
    (click)="openFileChangeEventPopup(item)">
</div>
