@import "../../helpers.scss";

:host {
  display: grid;

  grid-template-rows: repeat(5, min-content);
  grid-template-columns: repeat(5, 1fr);

  row-gap: 8px;
  column-gap: 8px;

  grid-template-areas:
    "header   header   header   header   header "
    "input-1  input-1  input-1  input-1  input-1"
    "input-2  input-2  input-2  input-2  input-2"
    "input-3  input-3  input-3  input-3  input-3"
    "btn-3    .        btn-1    btn-1    btn-2  ";

  min-width: 300px;
  .header {
    grid-area: header;
  }
  .input-1 {
    grid-area: input-1;
  }
  .input-2 {
    grid-area: input-2;
  }
  .input-3 {
    grid-area: input-3;
  }
  .btn-1 {
    grid-area: btn-1;

    background-color: var(--primary-color-light);
    color: white;
  }
  .btn-2 {
    grid-area: btn-2;

    justify-self: center;
  }
  .btn-3 {
    grid-area: btn-3;
  }
}
