:host {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 90vh;
  app-data-table {
    box-shadow: none;
    padding: none;
    margin: none;
    max-height: 90vh;
  }
}
